APP_NAME="Advance Care Specialized Hospital"
APP_URL=http://localhost/advance-care-hospital/public
APP_DEBUG=true
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=advance_care_hospital
DB_USERNAME=root
DB_PASSWORD=
ACCOUNT_VERIFICATION=disabled
